.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1783c2;
    padding: 1rem;
}
.navbar-brand h1 {
    color: white;
    margin: 0;
}
.navbar-links {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    
}
.navbar-links li {
    display: inline;
}

.navbar-links li {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links li:hover {
    color: #100885; /* Change color on hover */
}

.card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(4, 78, 139, 0.479);
    margin: 16px;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(10, 108, 121, 0.596);
}


.card-company_name {
    margin: 0;
    font-size: 1.5rem;
}

.card-position {
    margin: 0;
    font-size: 1.2rem;
    color: gray;
}

.card_skills {
    margin: 16px 0;
}

.card-salary {
    font-style: italic;
    color: #555;
}
.apply-button{
    
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 16px; /* Space between cards */
    padding: 16px;
}
.card button{
    padding: 10px;
    background-color: #077EFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 8px 40px;
    cursor: pointer;
}
.card-button{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.card button:hover{
    cursor: pointer;
    background-color: #0728bdea;
}