.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.form-input{
    padding: 8px 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    outline-color: #077EFF;
}
.create-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px 30px;
    background: white;
}
.create-heading{
    text-align: center; 
}
.create-form button{
    padding: 10px;
    background-color: #077EFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.create-form button:hover{
    cursor: pointer;
    background-color:#0728bdea ;
}
.create-form .no{
    background-color: #5794bd;
    color: rgb(14, 13, 13);
}